.adicionar-habilidade:hover {
    background-color: #d0ffd0;
    transition: 0.6s;
}

.adicionar-habilidade {
    background-color: #EEE;
    transition: 0.6s;
}

.adicionar-magia:hover {
    background-color: #c7e5ff;
    transition: 0.6s;
}

.adicionar-magia {
    background-color: #EEE;
    transition: 0.6s;
}

.habilidade-titulo, .magia-titulo {
    margin-bottom: 0px;
}

.habilidade-texto {
    margin-bottom: 5px;
}

